<section id = "cat">
<% @cats.each do |cat| %>
	<p><%= link_to "#{cat.name}", "category#{cat.id}" %></p>
<% end %>
</section>
<section id = "con">
	<h2>Ads</h2>

	<% @ads_per_page.each do |ad|%>
		<p><%= "#{ad[:title]} - #{ad[:content]} - #{ad[:updated_at]}" %></p>
	<% end %>
	
	<% Ad.pgcount.times do |p|%>
		<%= link_to p+1, "/ads#{p+1}" %>
	<% end %>

</section>