header{
	margin: 0 auto;
	padding: 0;
	width: 80%;
	height: 130px;
	background-color: black;
}

nav{
	margin: 20px auto;
	height: 30px;
	background-color: #cccccc;
}

footer{
	margin: auto;
	width: 80%;
	height: 130px;
	background-color: #cccccc;
}

#cat{
	word-wrap: break-word;
	float: right;
	margin: 20px 10% 10px 10px;
	width: 20%;
	background-color: #cccccc;
}

#con{
	word-wrap: break-word;
	width: 50%;
	margin: 10px 10px 10px 15%;
	background-color: #cccccc;
}

.image{
	height: 80px;
  width: 100px;
}

.clear{
	clear: both;
}