<section id = "con">

	<h2>Ads</h2>

	<% @ads_per_page.each do |ad|%>
		<p><%= "#{ad[:title]} - #{ad[:content]} - #{ad[:updated_at]}" %>
		<% if @check == true %>
			<%= link_to 'edit', edit_ad_path(ad) %>
			<%= link_to 'delete', { controller: :ads, :action => :destroy, :id => ad.id }, method: :delete, confirm: 'Are u sure?'%></p>
		<% end %>	
		</p>
	<% end %>
	
	<% Ad.pgcount.times do |p|%>
		<%= link_to p+1, "/#{pp_name(@check)}#{p+1}" %>
	<% end %>

</section>