<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
			<%= stylesheet_link_tag 'style', media: 'screen' %>
	</head>
	<body>
		<div id = "wrapper">
			<div id = "header">
                            <div id = "headNew">
                               
                            </div>    
                            
                             <div id ="login">
                            </div>
                            
                            <div id = "menu">
                            </div>
                           
                        </div>
                    <div></div>
                    <div class = "clear"></div>
                    <div id = "content">
											<%= yield %>
										</div>
			<div class = "clear"></div>
			<div id = "footer">footer
        <form>
          <input type = "color">
        </form>
      </div>
		</div>
	</body>
</html>